.event-list__container {
  border-radius: 10px;
  box-shadow: black;
  width: 30vw;
  height: 80vh;
  margin-top: 13vh;
  overflow: scroll;
  animation: crescendo 0.3s ease-in;
}

.no-results {
  height: 100%;
  display: flex;
  align-items: center;
  color: #004ac7;
  font-size: 28px;
  animation: moveInLeft 0.3s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
